#body {
    font-size: 1.2rem;
}

@media only screen and (min-height: 530px)
{
    #body {
        height: 100vh;
    }

    #spacer {
        display: none;
    }
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

#footer {
    margin-top: 25px;
    font-size: 1rem;
}

#warningIco {
    font-size: 5rem;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#copy-ori-link {
    text-decoration: underline;
    cursor: pointer;
}

#snack-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}