#body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.w3-card {
    padding: 12px;
}

.w3-input {
    outline: none;
}

.input-text:focus {
    border-color: blue;
}

button.w3-button {
    width: 100%;
    outline: none;
}

select {
    outline: none;
}

label {
    font-size: .92rem;
    color: grey;
}